<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" alt="Logo" src="assets/1920x1080_px_pentagram_Satan_skull-1202531.jpg!d.jpg">
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['/principal']">Principal <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/alimentos']">Alimentos</a>
        <a class="nav-item nav-link" [routerLink]="['/bebidas']">Bebidas</a>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
